.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}


.Github-link{
  animation:titleText 1.2s infinite;
  color: #61dafb;
}
@keyframes titleText{
  0%{     color: #61dafb;    }
  49%{    color: #61dafb; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #61dafb;    }
}